@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0; 
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.display {
  display: flex;
}

.hide {
  display: none;
}
.addQuestion {
  position: absolute;
  top: 0;
  right: 0;
}
.Addquestion {
  background: #fff9f9;
  border-radius: 2px;
  cursor: pointer;
  background: #000;
  color: white;
  padding: 6px;
  border: none;
}
.main {
  background-color: cornsilk;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  background-color: rgb(61, 74, 9);
  padding: 50px;
  border-radius: 20px;
  max-width: 50%;
  max-height: 50%;
}

.questionSection {
  background-color: rgb(61, 74, 9);
  justify-content: center;
  padding: 50px;
  border-radius: 20px;
  min-width: 50%;
  min-height: 50%;
}

.header {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.optionList {
  list-style: none;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  gap: 30px;
}

.optionList li {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 90%;
}


.default {
  background-color: #e4e3e3;
}

.default:hover {
  background-color: #cdbaba;
}

.clicked {
  background-color: #135d74;
  color: rgb(255, 255, 255);
}
.btns {
  margin-top: 50px;
  width: 95%;
  display: flex;
  justify-content: end;
}
.nextBtn {
  background: #ff0404;
  padding: 14px 38px;
  border-radius: 6px;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nextBtn:hover {
  background-color: #901717;
}

.QuestionAddContainer {
  background-color: rgb(243, 249, 231);
  border: 1px solid rgb(235, 215, 215);
  border-radius: 8px;
  height: 70%;
  width: 70%;
  padding: 20px;
}

.QuestionAddContainer span {
  font-weight: bold;
  font-size: 28px;
  text-decoration: underline;
}

.question-form {
  display: flex;
  flex-direction: column;
  padding: 0px 18px;
  gap: 10px;
  margin-top: 40px;
  justify-items: center;
  align-items: start;
}
.inputBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  gap: 6px;
  width: 100%;
}

.inputBox input {
  padding: 14px 10px;
  border-radius: 6px;
  border-color: #ea2828;
  width: 80%;
}

.inputBox label{
  font-size: 18px;
}

